
.banner {
    background: url("https://hips.hearstapps.com/hmg-prod/images/2022-tesla-cyber-truck-mmp-1-1579127142.jpg?crop=0.788xw:1.00xh;0.107xw,0&resize=640:*");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
